.TitleText {
    color: rgb(236, 240, 241);
    font-size: 16px;
    -unity-text-align: upper-center;
    -unity-font-style: bold;
}

.DiscText {
    color: rgb(189, 195, 199);
    font-size: 12px;
    -unity-text-align: upper-center;
    -unity-font-style: normal;
}

.StatText {
    color: rgb(236, 240, 241);
    font-size: 16px;
    -unity-text-align: upper-center;
    -unity-font-style: bold;
}
